{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form>
            <div class="form-group row align-items-center">
                <div class="col-sm-3">
                    <label for="retinafile" class="col-sm-auto col-form-label">Retina Image</label>
                </div>
                <div class="col-sm">
                    <input type="file" class="form-control-file" id="retinafile">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
{% endblock content %}